<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3><%= content %></h3>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script>
        var socket = io.connect('http://localhost:<%= server_port %>');
        socket.on('message', function(message) {
            $("main").prepend( "<div class='jumbotron'><h3>"+message+"</h3></div>");
        })
    </script>
    
</body>
</html>